@import 'font';
@import 'theme';
@import 'nav';

body {
	font: 100% $font-stack;
	color: $brandcolor;
}

.layout {
	height: 100vh;
	display: grid;
	grid-template-rows: 400px 1fr;
	grid-template-columns: 1fr;
	grid-gap: 10px;
	color: white;
}

.navbar {
	background: $brandcolor;
}

.content {
	height: 100%;
	background: cornflowerblue;
}
